.form-container{
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 81px;
}

.mat-toolbar {
    color: white;
   // position: sticky;
    top: 0;
    z-index: 1;
    background: LIGHTSEAGREEN !important;
}

.spacer {
    flex: 1 1 auto;
}

.mat-button {
    color: white;
}