<div class=" d-flex flex-column justify-content-center align-item-center align-self-center text-center">


<div class="container">
  <div class="d-flex flex-column justify-content-center align-item-center text-center">
    <h1>NCF Framework</h1>
    <h3>Explore NCF framework for various stages!!</h3>
  </div> 

  <div class="row">
    <div class="scroll-container">
        <button class="btn btn--cyan" routerLink="/explore">Explore</button>
         <button class="btn btn--blue">Dive In</button>
      <button class="btn btn--black">Ask me</button>
      </div>
  </div>

</div>
   


</div>
