.text-info {
  background: white;
  color: black !important;
  margin: 1px;
  font-size: 16px;

}

.search {
  font-size: 20px;
    line-height: 1.5rem;
    background-color: rgba(255,255,255,.8);
    width: 85%;
    margin: auto;
}
.error{
  color: indianred;
}
.banner {
  color: white;
font-weight: 600;
}
.responseData{
border: 2px ;

}
h1 {
  font-size: 50px;

  font-variant-caps: small-caps;
  font-family: sans-serif;
}
.ask-btn{
  
  border: none;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 900;
  position: relative;
  background: transparent;
  color: white;
  text-transform: uppercase;
  border: 3px solid #ffa500;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* BUTTON STYLING BEGINS */
button:active,
:focus {
  outline: none !important;
}

@mixin color($color) {
  background-color: $color;
  border: 2px solid $color;

  // &:hover {
  //   background-color: transparent;
  //   color: $color;
  // }
}

.btn {
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  margin: 1.8rem .8rem;
  padding: 1.5rem 3rem;
  transition: all .4s;
  text-transform: uppercase;

  /* ADD ANY COLOR YOU LIKE */
  &--orange {
    @include color(#F79E02);
  }

  &--cyan {
    @include color(#5CDB95);
  }

  &--blue {
    @include color(#97CAEF);
  }

  &--pink {
    @include color(#F64C72);
  }

  &--black {
    @include color(#112D32);
  }

  &--red {
    @include color(#C60021);
  }

  &--gray {
    @include color(#CDCDCD);
  }
}

/* BUTTON STYLING ENDS */