<div class=" d-flex flex-column justify-content-center align-item-center align-self-center text-center">


  <div class="container">
    <div class="banner d-flex flex-column justify-content-center align-item-center text-start py-4">
      <h1>Childhood Connect</h1>
      <h3>Become a part of a transformative journey>>></h3>
    </div>

    <div class="row search mt-5">
      <p> The new National Curriculum Framework for Foundational Stage is a transformative framework that aims
        integrated, holistic approach to Early Childhood Care and Education for children aged 3-8, aiming to improve the
        quality of educational content and outcomes, thus positively impacting children's lives towards a better future.
      </p>
      <div class="d-flex flex-column justify-content-center align-item-center mt-4 mb-5  w-50 m-auto">
        <mat-form-field class="search-bar">
          <mat-label>Want to know more about it? Ask a question</mat-label>
          <input type="text" matInput [(ngModel)]="searchQuery" (keyup.enter)="search()">
        </mat-form-field>
        <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
        <span *ngIf="showLoader">Please wait for sometime...</span>
        <span *ngIf="errorData" class="error">An Unexpected Error Occured! Please Try Again</span>

        <div *ngIf="responseData" class="responseData  p-2 mb-2 border border-3 rounded">
          {{responseData}}
        </div>
        <button class="ask-btn btn--blue">Ask More</button>
      </div>
    </div>
    <div class="row">
      <div class="scroll-container d-flex justify-content-between">
        <button class="btn btn--cyan" routerLink="/explore">Explore NCF</button>
        <button class="btn btn--blue" routerLink="/content">Contribute Content</button>
        <button class="btn btn--cyan" routerLink="/explorecontent">Explore Content</button>
      </div>
    </div>
  </div>